---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
---

<Layout>
	<Hero>
		<Fragment slot="title">
			<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
				<span class="text-accent-green">Search Engine</span>
			</h1>
		</Fragment>

		<Fragment slot="subtitle">
			Search for anything on the website. You can search for a blog post, a project, a page or a person.

			<!-- Search Box and Search Anchor next to each other with search anchor being smaller -->
			<div class="flex flex-row items-center justify-center">
				<input
					id="search"
					type="search"
					name="search"
					placeholder="Please input your query"
					class="w-full p-4 border text-black border-gray-300 focus:outline-none focus:ring-2 focus:ring-accent-green focus:border-transparent"
				/>
				<a id="search_anchor" href="#results" class="w-10 p-4 ml-2 btn-tertiary">Search</a>
			</div>

			<style>
				#search {
					width: calc(100% - 10rem);
				}

				#search_anchor {
					width: 10rem;
				}
			</style>
		</Fragment>
	</Hero>

	<div id="results" class="mx-auto px-6 sm:px-6 max-w-3xl content-center grid grid-row items-center mb-10">
		<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading p-4">
			<span class="text-accent-green">Search Results</span>
		</h1>

		<div id="not_found" class="p-6 btn-tertiary">
			<h3 id="not_found_header" class="text-3xl pb-2">No Results Found</h3>
			<p id="not_found_hint">Try searching for something else.</p>
		</div>

		<div id="search_results">
			<!-- The search results will be added here -->
		</div>

		<br />
	</div>

	<script is:inline>
		const search_element = document.querySelector('#search');
		const search_anchor = document.querySelector('#search_anchor');
		const results_element = document.querySelector('#results');
		const search_results = document.querySelector('#search_results');
		const not_found = document.querySelector('#not_found');
		const not_found_header = document.querySelector('#not_found_header');
		const not_found_hint = document.querySelector('#not_found_hint');

		results_element.style.display = 'none';

		search_anchor.addEventListener('click', (e) => {
			if (search_element.value.trim() === '') {
				e.preventDefault();
				search_element.focus();
				search_anchor.classList.add('btn-tertiary');
				search_anchor.classList.remove('btn-quaternary');
			}
		});

		search_element.addEventListener('input', () => {
			const has_value = search_element.value.trim() !== '';
			if (has_value) {
				search_anchor.classList.add('btn-quaternary');
				search_anchor.classList.remove('btn-tertiary');
			} else {
				search_anchor.classList.add('btn-tertiary');
				search_anchor.classList.remove('btn-quaternary');
			}
		});

		search_element.addEventListener('input', async (e) => {
			if (e.target.dataset.loaded !== 'true') {
				e.target.dataset.loaded = 'true';
				window.pagefind = await import('/pagefind/pagefind.js');
			}

			const search = await window.pagefind.search(e.target.value);
			search_results.innerHTML = '';
			const searchQuery = search_element.value.trim();
			results_element.style.display = searchQuery ? 'block' : 'none';
			const displayedURLs = [];

			if (searchQuery && search.results.length === 0) {
				const notFoundHeaders = [
					'Mission Report: No Results Found',
					'Operation Failure: Unable to Locate Results',
					'Warning: Data Unavailable',
					'Transmission Interference: No Results Detected',
					'Code Red: Data Not Found',
					'System Alert: Search Results Inaccessible',
					'Error 404: Information Not Found',
					'Target Lost: No Results Detected',
					'Search Operation Aborted: No Data Found',
					'Critical Data Failure: Results Not Found',
					'Attention: Insufficient Data Found',
					'Anomaly Detected: No Results Located',
					'Abort Mission: Results Unattainable',
					'Redacted: Results Not Disclosed',
					'Information Blackout: No Results Obtained',
					'Search Grid Offline: No Results Identified',
					'Emergency Override: Results Unrecoverable',
					'Data Lockdown: Results Beyond Reach',
					'Insufficient Intel: Results Unavailable',
					'Encryption Breach: No Results Deciphered',
				];
				const notFoundHints = [
					'Try recalibrating your search parameters.',
					'Expand your search horizon and explore different keywords.',
					'Consider refining your search criteria for more accurate results.',
					'Explore alternative search terms to uncover relevant information.',
					'Broaden your search scope and try different combinations of keywords.',
					'Check your spelling and ensure accurate input for a successful search.',
					"Experiment with various search strategies to find what you're looking for.",
					'Consider adjusting your search filters for more targeted results.',
					'Explore related topics or related search suggestions.',
					'Try a different search engine or platform for a fresh perspective.',
					'Consider reaching out to online communities or forums for assistance.',
					'Check if the information you seek is available in a different format or medium.',
					'Double-check the availability of the information from reliable sources.',
					'Consider consulting experts or professionals in the field for guidance.',
					'Refine your search query by including specific details or parameters.',
					'Experiment with advanced search operators or syntax for precise results.',
					'Verify the accessibility of the information based on its publication date.',
					'Consider expanding your search beyond the current time frame for comprehensive results.',
					'Review your search strategy and make adjustments to improve your chances.',
					'Revisit your search query and approach it from a different angle.',
					'Consider exploring alternative sources or references for the desired information.',
				];

				const randomNotFoundHeader = notFoundHeaders[Math.floor(Math.random() * notFoundHeaders.length)];
				const randomNotFoundHint = notFoundHints[Math.floor(Math.random() * notFoundHints.length)];

				not_found_header.innerHTML = randomNotFoundHeader;
				not_found_hint.innerHTML = randomNotFoundHint;
				not_found.style.display = 'block';
			} else {
				not_found.style.display = 'none';

				const pageMap = new Map();

				for (const result of search.results) {
					const data = await result.data();
					const url = data.url;
					const displayedURL = displayedURLs.find((displayedURL) => displayedURL === url);

					if (displayedURL) {
						const section = pageMap.get(url);
						section.innerHTML += `
				  <div>
					<h4 class="text-xl pt-2">${data.meta.title}</h4>
					<p>${data.excerpt}</p>
				  </div>
				`;
					} else {
						displayedURLs.push(url);
						const section = document.createElement('div');
						section.classList.add('p-4');
						section.innerHTML = `
				  <a href="${data.url}" class="btn-quaternary p-6">
					<h3 class="text-3xl pb-2">${data.meta.title}</h3>
					<div>
					  <h4 class="text-xl pt-2">${data.meta.title}</h4>
					  <p>${data.excerpt}</p>
					</div>
				  </a>
				`;
						search_results.appendChild(section);
						pageMap.set(url, section.querySelector('div'));
					}
				}
			}
		});
	</script>
</Layout>
