---
import BaseHead from '../../components/BaseHead.astro';
import Space from '../../components/Space.astro';
import Main from '../../components/Main.astro';
import Article from '../../components/Article.astro';
import MainHeader from '../../components/MainHeader.astro';
import Copyright from '../../components/Copyright.astro';
import GoogleAnalytics from '../../components/GoogleAnalytics.astro';
import BlogPost from '../../components/BlogPost.astro';
import "../../components/YouTube.css";
import "../../styles/output.css";

export function getStaticPaths() {
  const posts = Astro.fetchContent('../../data/blog-posts/*.md');
  return posts.map(p => ({
    params: { slug: p.file.pathname.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, title, author, description, publishDate, heroImage, heroImageAlt, socialImage, permalink, lang } = Astro.props.post;
---

<html lang={ lang ?? 'en' }>
  <head>
    <BaseHead title={title} description={description} canonicalURL={permalink} image={socialImage && `https://astro.build${socialImage}`} />
    <link rel="stylesheet" href={Astro.resolve('../../scss/blog.scss')} />
    <link rel="stylesheet" href={Astro.resolve('../../styles/output.css')}>
  </head>
  <body>
    <Space />
    <Main>
      <MainHeader />
        <Article>
            <BlogPost title={title} author={author} publishDate={publishDate}  heroImage={heroImage}  heroImageAlt={heroImageAlt}>
                <Content />
            </BlogPost>
        </Article>
    </Main>

    <style lang="scss">
      .full-expand {
          width:100%;
          padding:20px;
      }
      .hint {
        font-size: 13px;
        opacity: 0.8;
        margin-top: 2em;
        padding: 2em 0;
      }
      .hint > p:first-child {
        margin-bottom: 2em;
      }
      .action-button {
        border: 1px solid var(--color-green);
        padding: 1rem;
        font-weight: 600;
      }
      code {
        font-size: 11px;
        font-family: var(--font-mono);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        padding: 0.1em 0.2em;
      }
      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        background:rgba(255, 255, 255, 0.1);
        margin-bottom: 1rem;
      }
      .videoWrapper > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <GoogleAnalytics />
  </body>
</html>