---
import BaseHead from '../../components/BaseHead.astro';
import Space from '../../components/Space.astro';
import Main from '../../components/Main.astro';
import Article from '../../components/Article.astro';
import MainHeader from '../../components/MainHeader.astro';
import Sponsors from '../../components/Sponsors.astro';
import GoogleAnalytics from '../../components/GoogleAnalytics.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import "../../components/YouTube.css";
import "../../styles/output.css";

let title = 'Projects | MostlyWhat';
let description = "All projects done by MostlyWhat!";
let permalink = '/projects/';
let lang = 'en';

const projects = Astro.fetchContent('../../data/projects/*.md').sort((a, b) => a.title.localeCompare(b.title));
---

<html lang={ lang ?? 'en' }>
  <head>
    <BaseHead title={title} description={description} canonicalURL={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../../scss/global.scss')} />
    <link rel="stylesheet" href={Astro.resolve('../../styles/output.css')}>
  </head>

  <body>
    <Space />

    <Main>
      <MainHeader />
      <Article>
        <br>
        <div class="bold-divider pb-4">
          <h1 class="font-bold text-2xl latest pb-4">Projects by MostlyWhat</h1>
          <p>
            These are the projects that I have done, both for personal and for clients.
          </p>
          <br>
        </div>
        <br>
        <section aria-label="Blog post list">
        {projects.map(p => {
        const href = `/projects/${p.file.pathname.split('/').pop().split('.').shift()}`;
        return (
            <ProjectPreview title={p.title} category={p.category} href={href}>
            <span>{p.description}</span>
            </ProjectPreview>
        );
        })}
        </section>
        <br>
        <div>
          <h1 class="font-bold text-2xl">Access Official Social Media</h1>
          <br>
          <a class="action-button full-expand" href="https://www.instagram.com/mostly.what/">
            Official Instagram
            <span style="float: right;">&#8594;</span>
          </a>
          <br>
          <a class="action-button full-expand" href="https://twitter.com/mostlywhat">
            Official Twitter
            <span style="float: right;">&#8594;</span>
          </a>
          <br>
          <a class="action-button full-expand" href="https://discord.gg/THmTE3Y9ag">
            Join Discord Server
            <span style="float: right;">&#8594;</span>
          </a>
          <br>
        </div>
      </Article>
      <Sponsors />
    </Main>

    <style lang="scss">
      .bold-divider {
        border-bottom: 4px solid var(--theme-divider);
      }
      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
      .full-expand {
          width:100%;
          padding:20px;
      }
      .hint {
        font-size: 13px;
        opacity: 0.8;
        margin-top: 2em;
        padding: 2em 0;
      }
      .hint > p:first-child {
        margin-bottom: 2em;
      }
      .action-button {
        border: 1px solid var(--color-green);
        padding: 1rem;
        font-weight: 600;
      }
      code {
        font-size: 11px;
        font-family: var(--font-mono);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        padding: 0.1em 0.2em;
      }
      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        background:rgba(255, 255, 255, 0.1);
        margin-bottom: 1rem;
      }
      .videoWrapper > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <GoogleAnalytics />
  </body>
</html>
